@charset "UTF-8";

body{
	background-color : cyan;
}

h1{
	text-align : center;
	font-family: Helvetica, sans-serif;
	color : blue
}

#mainMenu{
	margin-top: 0px;
	margin-bottom: 15px;
}

th, td{
	font-family: Helvetica, sans-serif;
}

#mainMenuLink{
	color : white;
	background-color: #89cff0;
	font-size: medium;
	text-decoration: none;
	font-size : 70%;
  	padding: 7px 10px 7px 10px;
  	text-align: center;
  	display: inline;
  	letter-spacing: 1px;
  	border-radius: 15px;
  	margin: auto;
  	display: block;
  	width: 10%;
}


#insertRecord{
	margin-top: 10px;
	margin-bottom: 10px;
}

#listRecords{
	margin:auto;
	margin-bottom: 10px;
}

#insertRecordLink {
	color : white;
	background-color: #89cff0;
	font-size: medium;
	text-decoration: none;
	font-size : 70%;
  	padding: 7px 10px 7px 10px;
  	text-align: center;
  	display: inline;
  	letter-spacing: 1px;
  	border-radius: 15px;
  	margin: auto;
  	display: block;
  	width: 7%;
}

#listRecordsLink {
	color : white;
	background-color: #89cff0;
	font-size: medium;
	text-decoration: none;
	font-size : 70%;
  	padding: 7px 10px 7px 10px;
  	text-align: center;
  	display: inline;
  	letter-spacing: 1px;
  	border-radius: 15px;
  	margin: auto;
  	display: block;
  	width: 7%;
}

#insertRecordLink:hover, #mainMenuLink:hover, #listRecordsLink:hover{
	color: blue;
}

table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	margin-bottom: auto;
	text-align: center;
	padding: 10px 10px 10px 10px;
	background-color: rgba(255, 255, 255, 1);
}

td {
	padding: 7px;
}

tr:hover {
	background-color: yellow;
}

th {
	padding : 5px 5px;
	border-collapse: collapse;
}

.searchBar input[type=text] {
  padding: 6px;
  border: none;
  margin: auto;
  font-size: 20px;
  display: block;
  width: 15%;
}